.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.navbar-dark {
  background-color: #35427B;
  height: 80px
}

.footer {
  background-color: #35427B;
  margin: 0px auto;
  padding: 20px 0px; 
}

